@using KhaKhau.Models;
@model IEnumerable<Order> 
@{
    ViewData["Title"] = "AllOrders";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    

}

<h1>AllOrders</h1>

<div style="width:100%" class="mt-2">
    <h4> Orders</h4>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-striped">
            <tr>
                <th>Order Date</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Payment Status</th>
                <th>Order Status</th>
                <th>Actions</th>

            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                    <td>@order.Name</td>
                    <td>@order.Email</td>
                    <td>@order.MobileNumber</td>
                    
                    <td>@order.Address</td>
                    <td>@order.PaymentMethod | @(order.IsPaid ? "Paid" : "Not Paid")</td>
                   
                    @{
                        switch (order.OrderStatus.StatusName)
                        {
                            case "choxacnhan":
                                <td>
                                Chờ xác nhận
                                </td>
                                break;  
                            case "danggiao":
                                <td>
                                Đang giao
                                </td>
                                break; 
                            case "nhanhang":
                                <td>
                                Nhận hàng
                                </td>
                                break;
                            case "huy":
                                <td class="text-danger">
                                Hủy 
                                </td>
                                break;
                            default:
                                <td>Hoàn tiền</td>
                                break;

                        }
                    }
                    
                    <td>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#modal-@order.Id" class="btn btn-primary">
                            Order-Detail
                        </button>
                        <a asp-action="UpdateOrderStatus" asp-route-orderId="@order.Id" class="btn btn-info">Change Order Status</a>
                        <a asp-action="TogglePaymentStatus" asp-route-orderId="@order.Id" class="btn btn-info">Toggle Payment Status</a>

                   @* appending modal div here *@
                   @* Make sure to put this partial tag inside this td block, otherwise it can cause layout related problem*@
                        @await Html.PartialAsync("/Areas/Admin/Views/OrderManager/_OrderDetailModal.cshtml", new OrderDetailModal { DivId = order.Id.ToString(), OrderDetail = order.OrderDetail })
                    </td>

                </tr>

            }
        </table>
    }
    else
    {
        <h5>No orders</h5>
    }


</div>
