
@{
    ViewData["Title"] = "Danh sach mon an";
}

@* <link href="~/css/site.css" rel="stylesheet" />
 *@
 @model IEnumerable<KhaKhau.Areas.Admin.Models.Product>
 <div class="container-fluid"></div>
<h4>
    <a class="d-inline-block nav-link"  href="/admin/ProductManager">
        Admin
    </a>>
    <a asp-area="Admin" asp-controller="ProductManager" asp-action="Index">
        Danh sách món
    </a>
</h4>
<a class="nav-link mb-1" id="btn-create" asp-area="Admin" asp-controller="ProductManager" asp-action="Add" >Thêm món mới</a>
<p><strong>Tổng số lượng sản phẩm:</strong> @ViewBag.totalProducts</p>
<style>
    #btn-create{
        width: fit-content;
        height: fit-content;
        text-align: center;
        border: none;
        border-radius: 5px;
        background-color: chocolate;
        font-size: 18px;
        color:white;
    }
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bảng dữ liệu của món ăn</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên món</th>
                            <th>Giá</th>
                            <th>Mô tả</th>
                            <th>Loại</th>
                            <th>Hình</th>
                            <th>Tùy chỉnh</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tên món</th>
                            <th>Giá</th>
                            <th>Mô tả</th>
                            <th>Loại</th>
                            <th>Hình</th>
                            <th>Tùy chỉnh</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@product.Name</td>
                                <td>@product.Price</td>
                                <td>@product.Description</td>
                                <td>@product.Category?.Name</td>
                                <td>
                                    @if (@product.ImageUrl != null)
                                    {
                                        <img src="@product.ImageUrl" alt="Product Images" style="max-width:100px" />

                                    }
                                    else
                                    {
                                        <a href="#" role="button" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </a>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-info" asp-area="Admin" asp-action="Display" asp-route-id="@product.Id">View</a>
                                    <a class="btn btn-success" asp-area="Admin" asp-action="Update" asp-route-id="@product.Id">Edit</a>
                                    <a class="btn btn-danger" asp-area="Admin" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">

        </div>
    </div>
</footer>

<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/admin/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/admin/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/admin/js/demo/datatables-demo.js"></script>